.todo--completed {
  color: #666;
  font-size: 0.9em;
  .todo__name {
    text-decoration: line-through;
  }
}

.todo--uncompleted {
  box-sizing: border-box;
  padding: 7px;
  background: #f0f0f0;
  margin-bottom: 3px;
  border-radius: 2px;

  &:hover {
    .todo__controls {
      display: inline;
    }
  }
  .todo__controls {
    display: none;
    float: right;
  }
}
