.todos.uncompleted {
  .todo {
    padding: 7px;
    background: #f0f0f0;
    margin-bottom: 3px;
    border-radius: 2px;
  }
}

.todos.completed {
  .todo {
    color: #666;
    font-size: 0.9em;
    span.name {
      text-decoration: line-through;
    }
  }
}
